<section class="wrapper">
<div class="container">
	[Translation coming soon..]
	<section class="container">
		<ul>
			<li><a href="#what1">Che cos'è.</a></li>
			<li><a href="#why">Perché si chiama così.</a></li>
			<li><a href="#what2">I dati.</a></li>
			<li><a href="#how">Le statistiche.</a></li>
		</ul>

		<header id="what1">
			<h3>Che cos'è</h3>
			<p>Il mio treno è sempre in ritardo, ma sarà vero? Questo progetto ha
l'intento di rispondere a questa domanda monitorando il ritardo di alcuni treni
su alcune linee
ferroviare della Lombardia. Per ogni stazione della linea monitorata, TrenordSaga
produce grafici e statistiche sul ritardo, dando la possibilità di
distinguere tra giorni feriali o festivi.</p>
		</header>

		<header id="why">
			<h3>Perché si chiama così.</h3>
			<p>Una saga è una raccolte di storie epiche. Ogni treno percorre la sua storia
				lungo le linee ferroviare della Lombardia.
			</p>
		</header>

		<header id="what2">
			<h3>I dati</h3>
			<p>I dati tengono conto del ritardo osservato in una certa stazione e del
				fatto che sia reale o presunto. Se reale, quel valore significa che viene
				in effetti misurato da un sensore lungo la linea. Se presunto, significa
				che quel valore è uguale all'ultimo valore reale misurato.
			</p>
		</header>

		<header id="how">
			<h3>Statistiche</h3>
			<p>Per ogni linea monitorata, viene mostrato l'orario (reale o presunto) di
				arrivo di un particolare treno, in una certa stazione.
				La statistica del ritardo viene calcolata usando la mediana dei valori
				osservati.
				E' possibile inoltre distingure tra giorni feriali o festivi in modo da
				poter generare statistiche distinte.
			</p>
		</header>

		</p>
	</section>
</div>
</section>
