<section id="banner">
    <h2>{% autoescape off %}{{ nls.banner_title }}</h2>
    <p>{{ nls.banner_sub_title }}</p>
    <ul class="actions">
        <li>
            <a href="about" class="button big">{{ nls.learn_more }}{% endautoescape %}</a>
        </li>
    </ul>
</section>

<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>Il mio treno è sempre in ritardo. Ma sarà vero?</h2>
            <p>Monitora il tuo treno e verifica se è davvero sempre in ritardo</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-clock-o"></i>
                <p>Consulta il ritardo per giorno.</p>
            </section>
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-comments"></i>
                <p>Guarda le statistiche.</p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-user"></i>
                <p>Iscriviti per saperne di più.</p>
            </section>
        </div>
    </div>
</section>
