<section id="banner">
    <h2>{% autoescape off %}{{ nls.banner_title }}</h2>
    <p>{{ nls.banner_sub_title }}</p>
    <ul class="actions">
        <li>
            <a href="#" class="button big">{{ nls.learn_more }}{% endautoescape %}</a>
        </li>
    </ul>
</section>

<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>Consectetur adipisicing elit</h2>
            <p>Lorem ipsum dolor sit amet adipisicing elit. Delectus consequatur sed tempus.</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-clock-o"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
            </section>
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-comments"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime molestiae.</p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-user"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eveniet, nesciunt molestias. Ipsam, voluptate vero.</p>
            </section>
        </div>
    </div>
</section>
