{% autoescape off %}
<section id="banner">
    <h2>{{ nls.banner_title }}</h2>
    <p>{{ nls.banner_sub_title }}</p>
    <ul class="actions">
        <li>
            <a href="about" class="button big">{{ nls.learn_more }}</a>
        </li>
    </ul>
</section>

<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>{{ nls.banner_title_sub_sub }}</h2>
            <p>{{ nls.banner_title_explain }}</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-clock-o"></i>
                <p>{{ nls.banner_fun_1 }}</p>
            </section>
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-comments"></i>
                <p>{{ nls.banner_fun_2 }}</p>
            </section>
            <section class="4u$ 12u$(small)">
                <i class="icon big rounded fa-user"></i>
                <p>{{ nls.banner_fun_3 }}</p>
            </section>
        </div>
    </div>
</section>
			<header class="major">
				<h2>&nbsp;</h2>
			<p>{{ nls.for_example }}</p>
			</header>
{% endautoescape %}
