<style>
ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
    display: inline-block;
    background-color: #32c896;
    border-bottom: solid 5px #238b68;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
}
ul#tabs li:hover {
    background-color: #238b68;
}
ul#tabs li.active {
    background-color: #238b68;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}
</style>
<script type="text/Javascript">
var MYAPP = MYAPP || {};
MYAPP.View = {};
MYAPP.View.TrainSelector = function(aModel, aControl) {
	this.status = "loading";
	this.myModel = aModel;
	this.trainStats = aControl;
}

MYAPP.View.TrainSelector.prototype.update = function() {
	var obj = this;
	this.myModel.getTrainList(function(trainList) {
			trainList = trainList || [];
			trainList.sort(function(a, b) {
					var number1 = a.type.match(/(\d+)$/);
					var number2 = b.type.match(/(\d+)$/);
					if (number1 == null) {
						if (number2 == null) {
							return 0;
						} else {
							return -1;
						}
					} else {
						if (number2 == null) {
							return 1;
						} else {
							return parseInt(number1[0]) - parseInt(number2[0]);
						}
					}
				});
			obj.status = "ready";
			obj.draw(trainList);
		});
}

MYAPP.View.TrainSelector.prototype.draw = function(trainList) {
	var container = document.querySelector('#trainSelector');
	if (container) {
		while (container.hasChildNodes()) {
			container.removeChild(container.lastChild);
		}
	} else {
		container = document.createElement('div');
		container.setAttribute('id', 'trainSelector');
		document.querySelector('#outputLog').appendChild(container);
	}
	if (this.status === "loading") {
		container.innerHTML = "Loading....";
	} else {
	      var obj = this;
		var currRailwayType = '';
		var rowDiv;
		for (var i = 0; i < trainList.length; i++) {
			var train = trainList[i];
			if (currRailwayType != train.type) {
				currRailwayType = train.type;
				rowDiv = document.createElement('div');
				rowDiv.classList.add('row');
				var img = document.createElement('img');
				img.src = 'images/' + currRailwayType + '.jpg';
				rowDiv.appendChild(img);
				document.querySelector('#trainSelector').appendChild(rowDiv);
				rowDiv = document.createElement('div');
				rowDiv.classList.add('row');
				document.querySelector('#trainSelector').appendChild(rowDiv);
			}
			var linkControl = document.createElement('a');
			linkControl.setAttribute('id', train.trainId);
			linkControl.setAttribute('from', train.surveyedFrom);
			linkControl.addEventListener('click', function() {
					obj.onClick({'trainId': this.id,
						'dayFilter': 'all',
						'surveyedFrom': this.surveyedFrom});
				});
			linkControl.innerHTML = train.trainId + ' - ' + train.leaveStation + ' (' + train.leaveTime + ') - ' + train.endStation+ ' (' + train.arriveTime + ')';
/*			var linkDiv = document.createElement('div');
			linkDiv.classList.add('row');
			linkDiv.appendChild(linkControl);*/
			rowDiv.appendChild(linkControl);
		}
	}
}


MYAPP.View.TrainSelector.prototype.onClick = function(trainDescriptor) {
	this.trainStats.update(trainDescriptor);
}

MYAPP.View.TrainStats = function(aModel) {
	this.status = "loading";
	this.myModel = aModel;
	this.trainId = 0;
	this.filter = "all";
}

MYAPP.View.TrainStats.prototype.update = function(params) {
	if (!params)
		return 0;

	var thisObj = this;
	if (this.trainId !== params.trainId || this.filter !== params.dayFilter) {
		this.status = this.trainId !== params.trainId ? "tranIdChanged" : "filterChanged";
		this.trainId = params.trainId;
		this.filter = params.dayFilter;
		this.surveyedFrom
		this.myModel.getTrainStats(params.trainId, params.dayFilter, function(stats) {
			stats = stats || [];
			stats.sort(function(a, b) {
					if (a.stationName > b.stationName)
						return 1;
					if (a.stationName < b.stationName)
						return -1;
					return 0;
				});
			thisObj.status = "ready";
			thisObj.draw(stats);
			});
		this.draw();
	}
}

MYAPP.View.TrainStats.prototype.draw = function(stats) {
	var container = document.querySelector('#trainStats');
	var statsList = null;
	if (container) {
		statsList = document.querySelector('#statsList');
		while (statsList.hasChildNodes()) {
			statsList.removeChild(statsList.lastChild);
		}
		if (this.status === 'tranIdChanged') {
		      document.querySelector('#all').classList.add('active');
		      document.querySelector('#workDay').classList.remove('active');
		      document.querySelector('#dayOff').classList.remove('active');
		}
	} else {
		container = document.createElement('div');
		container.setAttribute('id', 'trainStats');
		container.innerHTML = '<ul id="tabs"><li id="all" class="active">tutte</li>\
			<li id="workDay">feriali</li><li id="dayOff">festivi</li></ul>';
		statsList = document.createElement('div');
		statsList.setAttribute('id', 'statsList');
		container.appendChild(statsList);

		var thisObj = this;
		var tabClickHandler = function() {
                        if (thisObj.status !== "ready") {
				return;
			}
			thisObj.update({'trainId': thisObj.trainId,
					'dayFilter': this.id});

			for(var i=0; i < this.parentElement.childElementCount; i++) {
				if (this.parentElement.children[i] === this) {
					this.parentElement.children[i].classList.add('active');
				} else {
					this.parentElement.children[i].classList.remove('active');
				}
			}
		};
		var tmp = container.querySelector('#all');
		tmp.addEventListener('click', tabClickHandler);
		var tmp = container.querySelector('#dayOff');
		tmp.addEventListener('click', tabClickHandler);
		var tmp = container.querySelector('#workDay');
		tmp.addEventListener('click', tabClickHandler);
	}
	document.querySelector('#outputLog').appendChild(container);
	if (this.status !== "ready") {
		var element = document.createElement('div');
		element.classList.add('row');
		element.innerHTML = "Loading...";
		statsList.appendChild(element);
	} else {
	      for (var i = 0; i < stats.length; i++) {
			var stop = stats[i];
			var element = document.createElement('div');
			//element.classList.add('row');
			element.innerHTML = stop.stationName + ' : ' + stop.median;
			statsList.appendChild(element);
	      }
	}
}

//-----------------------------------------------------------------------------
MYAPP.Model = function(){
	this.trainList = [];
	this.observerList = [];
}

MYAPP.Model.prototype.ready = function() {
	console.log("Ready to be queried");
	for (var i = 0; i < this.observerList.length; i++) {
		this.observerList[i].update();
	}
};

MYAPP.Model.prototype.addObserver = function(obj) {
	//@todo check if already present.
	this.observerList.push(obj);
};

MYAPP.Model.prototype.getTrainList = function(callback) {
	if (this.trainList.length == 0) {
	    gapi.client.discover.trains.listSurveyedTrain().execute(
		function(resp) {
			if (!resp.code) {
				resp.items = resp.items || [];
				this.trainList = resp.items;
				callback(this.trainList);
			}
		});
	} else {
		callback(this.trainList);
	}
};

MYAPP.Model.prototype.getTrainStats = function(trainId, filter, callback) {
	var params = {'trainid': trainId, 'dayFilter': 'all'};
	if (filter !== 'all' && filter !== 'dayOff' && filter !== 'workDay') {
		console.log("Model: Wrong filter passed.");
	} else {
		params.dayFilter = filter;
	}
	gapi.client.statistics.trains.listStop(params).execute(
		function(resp) {
			if (!resp.code) {
				resp.items = resp.items || [];
				callback(resp.items);
			}
	      });
};

var myModel = new MYAPP.Model();

var trainStats = new MYAPP.View.TrainStats(myModel);
myModel.addObserver(trainStats);

var trainSelector = new MYAPP.View.TrainSelector(myModel, trainStats);
myModel.addObserver(trainSelector);

$(document).ready(function() {
	trainSelector.draw();
});

function init() {
	apiRoot = 'https://disco-parsec-749.appspot.com/_ah/api';
	//apiRoot = 'http://localhost:8080/_ah/api';
	var apisToLoad;
	var APIReady = function() {
		if (--apisToLoad == 0) {
			myModel.ready();
		}
	}
	apisToLoad = 2;
	gapi.client.load('discover', 'v1', APIReady, apiRoot);
	gapi.client.load('statistics', 'v1', APIReady, apiRoot);
	//gapi.client.load('schedule', 'v1', callback, apiRoot);
}
</script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
