		<!-- Footer -->
{% autoescape off %}
			<footer id="footer">
				<div class="container">
					<div class="row">
						<section class="4u 6u(medium) 12u$(small)">
							<h3>{{ nls.about }}</h3>
							<p>{{ nls.brief_descr }}</p>
							<ul class="alt">
								<li><a href="about">{{ nls.learn_more }}</a></li>
							</ul>
						</section>
						<section class="4u 6u$(medium) 12u$(small)">
							<h3>{{ nls.login }}</h3>
							<p>{{ nls.login_brief }}</p>
							<ul class="alt">
								<li><a href="#">{{ nls.signup }}</a></li>
							</ul>
						</section>
						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>{{ nls.aboutme }}</h3>
							<ul class="icons">
								<li><a href="https://twitter.com/cowboy_space" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://plus.google.com/u/0/+AndreaBuffa/posts" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="https://www.linkedin.com/in/andreabuffa" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
						</section>
					</div>
					<ul class="copyright">
						<li>Terms & Conditions</li>
						<li>&copy; Untitled. All rights reserved.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>
							/<a href="https://thenounproject.com/">Noun Project</a></li>
					</ul>
				</div>
			</footer>
    </body>
</html>
{% endautoescape %}
