<html>
	<head>
{% if stations %}
		<script type="text/Javascript" src="https://www.google.com/jsapi"></script>
{% endif %}
		<script type="text/Javascript">
{% if stations %}
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawChart);
{% endif %}
			function drawChart() {
				var data = google.visualization.arrayToDataTable([
					['Stazione',  'Previsto', 'Ritardo'],
					{{ stations|safe|escape }}
					]);
				var options = {
						title: 'Tabella dei tempi S9 di oggi',
						vAxis: {title: ''}
					};

				var chart = new google.visualization.SteppedAreaChart(document.getElementById('today_chart'));
				chart.draw(data, options);
			}
		</script>
	</head>
	<body>
		<div id="today_chart" style="height: 500px;"></div>
	</body>
</html>