<section class="wrapper">
	<form name="form" method="post" action="survey">
	<section class="container">
		<section>
				<div class="row">
					<div class="6u 12u(small)">
						<div id="datepickerTop"></div>
						<input id="postBttnTop" type="submit" value="{{ nls.open }}" disabled/>
					</div>
					<div class="6u 12u(small)">
						<h3>{{ nls.survey }} {{ date|safe|escape }}</h3>
						<p>{{ nls.on_time_stops }}</p>
{% if onTimeStations %}
						<ul>
	{% for station in onTimeStations %}
							<li>{{ station.name }}</li>
	{% endfor %}
						</ul>
{% else %}
						<u>{{ nls.none }}</u>
{% endif %}
					</div>

				</div>
		</section>
		<section>
			<p>{{ nls.grouped_by_delay }}</p>
			<div id="pieChart" style="width: 500px; height: 500px;">></div>
		</section>
		<section>
				<p>{{ nls.ordered_by_delay }}</p>
				<div id="stationsByDelay" style="height: 500px;"></div>
		</section>
		<section>
				<p>{{ nls.trend }}</p>
			<div id="timings" style="height: 500px;"></div>
		</section>
		<section>
			<p>{{ nls.datepicker }}</p>
				<div id="datepickerBottom"></div>
				<input id="datetime" name="datetime" type="hidden" />
				<input id="postBttnBottom" type="submit" value="{{ nls.open }}" disabled/>
		</section>
	</section>
	</form>
</section>
