<section class="wrapper">
	<section class="container">
		<section>
				<div class="row">
					<div class="6u 12u(small)">
						<h3>{{ nls.trainNum }} {{ trainId }}, {{ nls.survey }} {{ date|safe|escape }}</h3>
						<p>{{ nls.on_time_stops }}</p>
{% if onTimeStations %}
						<ul>
	{% for station in onTimeStations %}
							<li>{{ station.name }}</li>
	{% endfor %}
						</ul>
{% else %}
						<u>{{ nls.none }}</u>
{% endif %}
					</div>
				</div>
		</section>
		<section>
			<header class="major">
				<h2>&nbsp;</h2>
			<p>{{ nls.trend }}</p>
			</header>
			<div id="timings" style="height: 500px;"></div>
		</section>
		<section>
			<header class="major">
				<h2>&nbsp;</h2>
			<p>{{ nls.ordered_by_delay }}</p>
			</header>
			<div id="stationsByDelay" style="height: 500px;"></div>
		</section>
		<section>
			<header class="major">
				<h2>&nbsp;</h2>
				<a href="dev" class="button big">{{ nls.query_the_oracle }}</a>
			</header>
		</section>
	</section>
</section>
