{% autoescape off %}
<section class="wrapper">
	<section class="container">
		<div id="search" class="trainMenu" style="display: none;"></div>
		<div id="type" class="trainMenu"></div>
		<div id="trainNum" class="trainMenu"></div>
		<div id="date" class="trainMenu"></div>
		<header id="nosurvey" class="major" style="display: none;">
			<h2>&nbsp;</h2>
			<p>{{ nls.nosurvey }}</p>
		</header>
		<header id="trend" class="major" style="display: none;">
			<h2>&nbsp;</h2>
			<p>{{ nls.trend }}</p>
		</header>
	</section>
		<div id="survey" class="lineChart" style="display: none;"></div>
	<section>
		<header id="compareHeader" class="major" style="display: none;">
			<h2>&nbsp;</h2>
			<p>{{ nls.ordered_by_delay }}</p>
		</header>
	</section>
		<div id="compare" class="columnChart" style="display: none;"></div>
	<section>
		<header id="compareTableHeader" class="major" style="display: none;">
			<h2>&nbsp;</h2>
			<p>{{ nls.table_resume }}</p>
		</header>
	</section>
		<div id="table_div" class="tableChart" style="display: none;"></div>
</section>
{% endautoescape %}
