<section class="wrapper">
	<form name="form" method="post" action="survey">
	<input type="hidden" name="trainid" value="{{ trainId }}">
	<section class="container">
		<section>
				<div class="row">
					<div class="6u 12u(small)">
						<h3>{{ nls.trainNum }} {{ trainId }}, {{ nls.survey }} {{ date|safe|escape }}</h3>
						<p>{{ nls.on_time_stops }}</p>
{% if onTimeStations %}
						<ul>
	{% for station in onTimeStations %}
							<li>{{ station.name }}</li>
	{% endfor %}
						</ul>
{% else %}
						<u>{{ nls.none }}</u>
{% endif %}
					</div>
				</div>
		</section>
		<section>
			<header class="major">
				<h2>&nbsp;</h2>
			<p>{{ nls.trend }}</p>
			</header>
			<div id="timings" style="height: 500px;"></div>
		</section>
		<section>
			<header class="major">
				<h2>&nbsp;</h2>
			<p>{{ nls.ordered_by_delay }}</p>
			</header>
			<div id="stationsByDelay" style="height: 500px;"></div>
		</section>
		<section>
			<header class="major">
				<h2>&nbsp;</h2>
				<h2>{{ nls.query_the_oracle }}</h2>
			<p>{{ nls.change_train }}</p>
			</header>
			<div id="container"></div>
			<header class="major" style="clear: left">
			<p>{{ nls.datepicker }}</p>
			</header>
				<div id="datepickerBottom"></div>
				<input id="datetime" name="datetime" type="hidden" />
				<input id="postBttnBottom" type="submit" value="{{ nls.open }}" disabled/>
		</section>
	</section>
	</form>
</section>
